<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="buscar médico..."
                        #txtBusqueda 
                        (keyup)="buscar(txtBusqueda.value)"/>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>


<!-- column -->
<div class="row animated fadeIn fast" >
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Médicos: {{ totalMedicos }}</h4>
                        <h6 class="card-subtitle">
                            Médicos registrados en AdminPro
                        </h6>
                    </div>
                    <div class="col-4">
                        <div class="text-right">
                            <a class="btn btn-primary" 
                                [routerLink]="['/dashboard/medicos/nuevoMedico']" > 
                                <i class="fa fa-hospital-o"></i>
                                Crear Médico
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th class="">Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img [src]="medico.img | imagen:'medicos'" 
                                            alt="imagen de médico" 
                                            class="avatar-thumbnail cursor"
                                            (click)="abrirModal(medico)">
                                </td>
                                <td>
                                    <input type="text" 
                                            class="form-control"
                                            placeholder="Nombre del hospital"
                                            [(ngModel)]="medico.nombre"/>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" 
                                        data-original-title="Editar" 
                                        (click)="editarMedico(medico)"
                                        class="cursor"> 
                                        <i class="fa fa-edit text-success"></i> 
                                    </a>
                                    <br />
                                    <a data-toggle="tooltip" 
                                        data-original-title="Borrar" 
                                        (click)="eliminarMedico(medico)"
                                        class="cursor"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>