<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card text-left">
            <div class="card-body">
                <h3>Usuarios</h3>
                <div class="alert alert-info animated fadeIn slow"
                    *ngIf="usuarios.length === 0">
                    <p class="mb-0">No hay usuarios relacionados con esa busqueda</p>
                </div>

                <div class="table-responsive animated fadeIn slow"                        
                        *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios" >
                                <td>
                                    <img [src]="usuario.img | imagen:'usuarios'" class="w100"/>
                                </td>
                                <td>
                                    {{ usuario.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-left">
            <div class="card-body">
                <h3>Médicos</h3>
                <div class="alert alert-info animated fadeIn slow"
                    *ngIf="medicos.length === 0">
                    <p class="mb-0">No hay medicos relacionados con esa busqueda</p>
                </div>

                <div class="table-responsive animated fadeIn slow"
                        *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td (click)="abrirMedico(medico)">
                                    <img [src]="medico.img | imagen:'medicos'" class="w100"/>
                                </td>
                                <td>
                                    {{ medico.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-left">
            <div class="card-body">
                <h3>Hospitales</h3>
                <div class="alert alert-info animated fadeIn slow"
                    *ngIf="hospitales.length === 0">
                    <p class="mb-0">No hay hospitales relacionados con esa busqueda</p>
                </div>

                <div class="table-responsive animated fadeIn slow"
                        *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td>
                                    <img [src]="hospital.img | imagen:'hospitales'" class="w100"/>
                                </td>
                                <td>
                                    {{ hospital.nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>